{% extends 'base/base.html' %}
{% load static %}
{% block title %}
About
{% endblock title %}

{% block content %}
<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>About us</h2>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>        
<!-- end page-title -->



<!-- start about-us-section -->
<section class="about-us-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="section-title">
                    <span>About us</span>
                    <h2>Starts Your Video own Conferencing</h2>
                </div>
                <div class="details">
                    <p>Video conferencing is an online technology that allows users in different locations to hold face-to-face meetings without having to move to a single location together. This technology is particularly convenient for business users in different cities or even different countries because it saves time, expenses, and hassles associated with business travel. Uses for video conferencing include holding routine meetings, negotiating business deals, and interviewing job candidates.
                    When a video conference is held for informal purposes, it is called a video call or video chat.</p>
                    <div class="btns">
                        <a href="#" class="theme-btn">Our Services</a>
                        <a href="#" class="theme-btn-s3">Contact with us</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="right-col">
                    <div class="img-holder">
                        <img src="../static/Design/assets/images/about.png" alt>
                    </div>
                    
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end about-us-section -->

{% endblock content %}

